:root{
    --text-color: white;
    --width: 100%;
    --main-fz: 60px;
}

body {
	background: #2b3c5d;
	display: flex;
}

input {
	max-width: 200px;
	width: var(--width);
	height: 60px;
	font-size: var(--main-fz);
	text-align: center;
    border-radius: 10px;
    border: 0px;/* 
	background: inherit; */
	/* color: var(--text-color); */
}

select {
	cursor: pointer;
	appearance: none;
	max-width: 20px;
	width: var(--width);
	font-size: 40px;
	height: 40px;
	border: 0px;
	background: inherit;
    color: var(--text-color);
    margin: 0 0 10px 5px;
}
span {
	font-size: var(--main-fz);
	color: var(--text-color);
}

button {
	font-size: var(--main-fz);
	background: inherit;
	color: var(--text-color);
	cursor: pointer;
	border: 0px;
    padding-bottom: 10px;
}

.calc__window {
	margin: 50vh auto;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 20px;
	flex-direction: column;
}

.result__div{
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}
